---
import { SEO } from "astro-seo";
import type { Props as SEOProps } from "astro-seo";

import LeftSidenav from "../components/layout/LeftSidenav.astro";
import type { Sections } from "../components/layout/LeftSidenav.astro";
import Navbar from "../components/layout/Navbar.astro";

export type Props = SEOProps & {
	sections?: Sections;
};

const { sections, ...props } = Astro.props;

const seoProps: SEOProps = {
	title: "Astro AWS",
	description: "SSR adapter for Astro on AWS Lambda",
	...props,
};
---

<!DOCTYPE html>
<html lang="en" class="h-full scroll-smooth" data-theme="astro-aws">
	<head>
		<SEO {...seoProps} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta charset="utf-8" />
	</head>
	<body class="h-full">
		{sections && <LeftSidenav sections={sections} />}
		<Navbar links={[{ href: "/docs", text: "Docs" }]} showLogo={!sections} />
		<slot />
		<style is:global>
			@import "../styles/global.css";
		</style>
	</body>
</html>
