---
import Layout from '../layouts/Layout.astro';
import PersonRow from "../components/home/PersonRow.astro"

const rows = Array.from({ length: 100 }).map((_, i) => i + 1)

export const prerender = false
---

<Layout title="Welcome to Astro AWS.">
	<main class="pt-16">
		<div class="overflow-x-auto">
			<table class="table">
				<!-- head -->
				<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Email</th>
						<th>Phone</th>
					</tr>
				</thead>
				<tbody>
					{rows.map((n) => (
						<PersonRow row={n} />
					))}
				</tbody>
			</table>
		</div>
	</main>
</Layout>

