---
import MobileMenuFooter from '@astrojs/starlight/components/MobileMenuFooter.astro';
import SidebarPersister from '@astrojs/starlight/components/SidebarPersister.astro';
import SidebarSublist from '@astrojs/starlight/components/SidebarSublist.astro';
import AdSense from '../AdSense.astro';

const { sidebar } = Astro.locals.starlightRoute;
---

<SidebarPersister>
	<SidebarSublist sublist={sidebar} />
  <AdSense adSlot="2519580417" />
</SidebarPersister>

<div class="md:sl-hidden">
	<MobileMenuFooter />
</div>