.docs {
	@apply space-y-2;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply pt-8;
	}

	h1,
	h2 {
		@apply pb-4;
	}

	h3,
	h4 {
		@apply pb-3;
	}

	h5,
	h6 {
		@apply pb-2;
	}

	h1 {
		@apply text-5xl font-black;
	}

	h2 {
		@apply text-3xl font-bold;
	}

	h3 {
		@apply text-xl font-bold;
	}

	h4 {
		@apply text-lg font-semibold;
	}

	h5 {
		@apply text-lg font-medium;
	}

	h6 {
		@apply text-lg font-normal;
	}

	p > code {
		@apply bg-base-300 text-base-content -mx-0.5 rounded px-1 font-mono font-medium italic text-opacity-75 #{!important};
		font-size: 0.875rem; // 14px
	}

	pre {
		@apply bg-base-300 text-base-content rounded-lg px-8 py-6 text-sm text-opacity-75 #{!important};
	}

	ol {
		@apply list-inside list-decimal;
	}
}
