---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="hero h-96">
		<div class="hero-content text-center">
			<div class="max-w-xl">
				<h1 class="text-4xl font-bold">An SSR adapter for Astro</h1>
				<p class="py-6 text-opacity-50">
					Deploy your Astro application to AWS Lambda, Cloudfront, and S3 using the AWS CDK.
				</p>
				<a href="/docs" class="btn btn-primary">Get Started</a>
			</div>
		</div>
	</div>
</Layout>
