---
export type Heading = {
	depth: number;
	slug: string;
	text: string;
};

export type Props = {
	headings: Heading[];
	url: string;
};

const depthPadding = {
	2: "pl-0",
	3: "pl-4",
} as const;

const { headings, url } = Astro.props;
---

<div class="fixed inset-y-0 z-50 w-72 py-1 px-10 right-0 mt-24">
	<h1 class="text-sm font-bold mb-2">On this page</h1>
	<ul class="menu menu-compact menu-vertical">
		{
			headings
				.filter(({ depth }) => Object.keys(depthPadding).includes(String(depth)))
				.map(({ depth, slug, text }) => (
					<li class={`${depthPadding[depth as keyof typeof depthPadding]} text-base-content text-sm text-opacity-75`}>
						<a href={`${url}#${slug}`} class="-mx-0.5 p-0.5">
							{text}
						</a>
					</li>
				))
		}
	</ul>
</div>
