---
import AstroAWSIcon from "./icons/AstroAWSIcon.astro";
---

<div class="flex flex-row items-center space-x-2">
	<AstroAWSIcon />
	<h1 class="text-primary hidden text-2xl font-bold sm:block">Astro AWS</h1>
</div>
