---
import AstroAWSIcon from "./icons/AstroAWSIcon.astro";
---

<div class="flex flex-row space-x-2 items-center">
	<AstroAWSIcon />
	<h1 class="text-2xl font-bold text-primary hidden sm:block">Astro AWS</h1>
</div>
