name: CD

# on:
#     workflow_run:
#         workflows:
#             - CI
#         branches:
#             - main
#         types:
#             - completed

env:
    CI: true
    TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
    TURBO_TEAM: ${{ secrets.TURBO_TEAM }}

permissions:
    id-token: write
    contents: read
    deployments: write

jobs:
    prepare-yarn-cache:
        name: Cache dependencies
        runs-on: ubuntu-22.04
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: "18"
                  cache: "yarn"
            - run: yarn install --mode=skip-build
              env:
                  YARN_ENABLE_SCRIPTS: false
    deploy-dev:
        name: Deploy Dev
        needs: [prepare-yarn-cache]
        concurrency:
            group: ${{ format('{0}-{1}', github.workflow, github.job) }}
        uses: ./.github/workflows/deploy.yml
        with:
            aws_session_name: astro-aws-cd-dev
            environment_name: development
            environment_url: https://dev.astro-aws.org/
            stack_environment: DEV
        secrets: inherit
    deploy-dev-node-16:
        name: Deploy Dev Node 16
        needs: [prepare-yarn-cache]
        concurrency:
            group: ${{ format('{0}-{1}', github.workflow, github.job) }}
        uses: ./.github/workflows/deploy.yml
        with:
            aws_session_name: astro-aws-cd-node-16
            environment_name: development-node-16
            environment_url: https://dev-node-16.astro-aws.org/
            stack_environment: NODE16
        secrets: inherit
    deploy-dev-node-18:
        name: Deploy Dev Node 18
        needs: [prepare-yarn-cache]
        concurrency:
            group: ${{ format('{0}-{1}', github.workflow, github.job) }}
        uses: ./.github/workflows/deploy.yml
        with:
            aws_session_name: astro-aws-cd-node-18
            environment_name: development-node-18
            environment_url: https://dev-node-18.astro-aws.org/
            stack_environment: NODE18
        secrets: inherit
