name: CI

on:
  pull_request_target:
  push:
    branches:
      - "main"

env:
  CI: true
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}

permissions:
  id-token: write
  contents: read

jobs:
  check:
    name: Check
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        node_version:
          - 20
          - 22
          - 24
        cmd:
          - build
          - test
          - format
          - synth
    steps:
      - uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v1
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node_version }}
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: us-west-2
      - run: bun install
      - run: bun run ${{ matrix.cmd }}
        env:
          AWS_ACCOUNT: ${{ secrets.AWS_ACCOUNT }}
